.row .check{
	margin-left: 16%;
}
#terms{
	width: 20%;
}
.terms label, .terms input{
	display: inline;
}
.table_form, .table_form2{
	overflow: scroll;
}
.table_form1{
	overflow: scroll;
}
.table tr td input{
	border:0;
	width: 100%;

}
#login {
    margin-top: 185px;
}
/*input::-webkit-input-placeholder{
    color:black;
}
input:-moz-placeholder {
    color:black;
}*/
input:-moz-placeholder{
	color: black;
}

input::-webkit-input-placeholder{
	color: black;
}
.table_form2 form table tbody tr td:nth-child(3){
	width: 250px;
}
.third{
	margin-top: 50px;
}
.third-first{
	display: inline;
}
#terms_no, #scheme_year,#scheme_name,#scheme_detail1,#scheme_detail2{
	width: 290px;
}
.marks,.c_y_s{
	margin-left: 33%;
}
.terms input{
	width: 150px!important;
}